.group_card {
    height: 120px;
    background-image: url("/Logo.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: auto 120px;
    background-position-y: -10px;
}

.group_participants {
    bottom: 5px;
    left: 5px;
    position: absolute;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.group_time {
    bottom: 5px;
    right: 5px;
    position: absolute;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}