@font-face {
    font-family: 'Stencil';
    src: url("/fonts/Stencil.ttf") format('truetype');
} 

* {
  font-family: "Stencil", "Roboto", sans-serif !important;
}

html, body {
    position: relative;
    height: 100%;
    margin: 0;
    width: 100%;
}

#root {
    position: relative;
    height: 100%;
    margin: 0;
    width: 100%;
}
